<!DOCTYPE html>
<html lang="en">
<head>

    <partial name="LayoutPartial/_MetaPartial" />

    <link rel="shortcut icon" href="img/favicon.html">

    <title>داشبورد مدیریت</title>

    <partial name="LayoutPartial/_LinkPartial" />

    @RenderSection("Header", false);

</head>
<body>

    <section id="container" class="">

        <partial name="LayoutPartial/_HeaderPartial" />

        <partial name="LayoutPartial/_SideBarPartial" />

        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
        </section>

    </section>

    <partial name="LayoutPartial/_ScriptPartial" />

    @RenderSection("Scripts", false)

</body>
</html>