<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="active">
                <a class="" href="/Admin/Home/Index">
                    <i class="icon-dashboard"></i>
                    <span>داشبورد</span>
                </a>
            </li>

                <li class="sub-menu">
                    <a href="javascript:;" class="">
                        <i class="icon-book"></i>
                        <span>مدیریت</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Management/Catgory/Index">دسته بندی ها</a></li>
                        <li><a href="/Management/Product/Index">محصولات</a></li>
                        <li><a href="/Management/ProductStatus/Index">فاکتورها</a></li>
                        <li><a href="/Management/News/Index">بلاگ</a></li>
                        <li><a href="/Management/ClientMenuLink/Index">لینک </a></li>
                        <li><a href="/Management/SiteConfiguration/Index">تنظیمات</a></li>
                    </ul>
                </li>
           
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->