@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه ورود</title>
    <link href="/admin_section/css/bootstrap.min.css" rel="stylesheet">
    <link href="/admin_section/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/admin_section/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/admin_section/css/style.css" rel="stylesheet">
    <link href="/admin_section/css/style-responsive.css" rel="stylesheet" />
</head>

<body class="login-body">
    <div class="container">
        <form class="form-signin" action="index.html">
            <h2 class="form-signin-heading">همین حالا وارد شوید</h2>
            <div class="login-wrap">
                <input type="text" class="form-control" placeholder="نام کاربری" autofocus>
                <input type="password" class="form-control" placeholder="کلمه عبور">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> مرا به خاطر بسپار
                    <span class="pull-right"> <a href="#"> کلمه عبور را فراموش کرده اید؟</a></span>
                </label>
                <button class="btn btn-lg btn-login btn-block" type="submit">ورود</button>
            </div>
        </form>
    </div>
</body>
</html>
